<main role="main" class="container">

  <div class="starter-template">
    <h1>Homepage</h1>

    <p class="lead">What spell would you like to search for?</p>
    <%= simple_form_for :spell, url: root_path, method: :get do |f| %>
      <%= f.input :spell, as: :string %>
    <% end %>

    <p class="lead"><strong><%= @name %></strong></p>
    <div class="row">
      <div class="col-3">
        <h5 class="data-category">Level</h5>
        <p class="lead"><%= @level %></p>
      </div>
      <div class="col-3">
        <h5 class="data-category">Casting Time</h5>
        <p class="lead"><%= @casting_time %></p>
      </div>
      <div class="col-3">
        <h5 class="data-category">Range/Area</h5>
        <p class="lead"><%= @range_area %></p>
      </div>
      <div class="col-3">
        <h5 class="data-category">Damage/Healing</h5>
        <p class="lead"><%= @damage %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h5 class="data-category">Components</h5>
        <p class="lead"><%= @components %></p>
      </div>
      <div class="col-3">
        <h5 class="data-category">Duration</h5>
        <p class="lead"><%= @duration %></p>
      </div>
      <div class="col-3">
        <h5 class="data-category">Attack/Save</h5>
        <p class="lead"><%= @attack_save %></p>
      </div>
      <div class="col-3">
        <h5 class="data-category">Damage/Effect</h5>
        <p class="lead"><%= @damage_effect %></p>
      </div>
    </div>
    <p class="lead"><strong>Castable by: </strong><%= @classes %></p>
    <p class="lead text-danger"><%= @materials unless @materials.nil? %></p>
    <p class="lead"><%= @description %></p>
    <p class="lead"><strong><%= "At Higher Levels: " unless @higher_level_description.nil? %></strong> <%= @higher_level_description %></p>
  </div>

</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>